# =========================
# Operating System Files
# =========================

# OSX
._*
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# =========================
# IDE Project Files
# =========================

# PhpStorm
.idea

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# =========================
# Web Development Files
# =========================

# Sass
.sass-cache

# Vendors
/node_modules
/scripts/vendor

# Build results
/public/css
/public/js
/public/index.html
/scripts/templates
