# =========================
# Operating System Files
# =========================

# OSX
._*
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# =========================
# IDE Project Files
# =========================

# PhpStorm
.idea

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json


# =========================
# Web Development Files
# =========================

# Sass
.sass-cache
compass_app_log.txt

# Vendors
npm-debug.log
/node_modules
/bower_components
/scripts/vendor

# Build results
/public/*
!public/assets
/templates/build
