<div class="example">

	<h3>{{title}}</h3>

	<p>{{content}}</p>

	<div class="dimensions">
		These values are updated by<br/>
		changes from display-model.js<br/>
		<br/>
		Window width: <span class="window-width"></span><br />
		Window height: <span class="window-height"></span>
	</div>

</div>
