.overlay {
	@include fill(fixed);

	.background {
		@include fill();
		cursor: pointer;
		background: rgba($white, 0.7);
	}

	.modal {
		@include center();
		padding: 1.5rem;
		background: $white;
	}
}
