<div id="content">
	<p>{{ text }}</p>
	<p>
		Window width: <span class="window-width"></span><br />
		Window height: <span class="window-height"></span><br />
		Window scroll: <span class="window-scroll"></span>
	</p>
</div>